# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Training checkpoints / weights
# =========================

*.pt
*.ckpt
*.safetensors

# =========================
# Generated outputs
# =========================
outputs/
results/

# =========================
# SwinIR downloaded model weights
# =========================
models/Swin/SwinIR/model_zoo/

# =========================
# SwinIR generated figures/results
# =========================
models/Swin/SwinIR/results/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

data/*/test/restored/
models/restom/Restormer/experiments/